{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}Облiк Вiивiдування{% endblock title %}

{% block content %}

<!-- начало навигация -->
<div class="text-center" >
	<ul class="hr" >
		<li><a href="">&larr;</a></li>
		<li>Жовтень 2016</li>
		<li><a href="">&rarr;</a></li>
	</ul>
</div>
<!-- конец навигация -->

<!-- Start Students Listing -->
<table class="table table-bordered table-striped ">
	<thead>
		<tr class="centr">
			<th>#</th>
			<th>Студент</th>
			<th>Ср 1</th> <th>Ср 2</th> <th>Ср 3</th> <th>Ср 4</th>
			<th>Ср 5</th> <th>Ср 6</th> <th>Ср 7</th> <th>Ср 8</th>
			<th>Ср 9</th> <th>Ср 10</th> <th>Ср 11</th> <th>Ср 12</th>
			<th>Ср 13</th> <th>Ср 14</th> <th>Ср 15</th> <th>Ср 16</th>
			<th>Ср 17</th> <th>Ср 18</th> <th>Ср 19</th> <th>Ср 20</th>
			<th>Ср 21</th> <th>Ср 22</th> <th>Ср 23</th> <th>Ср 24</th>
			<th>Ср 25</th> <th>Ср 26</th> <th>Ср 27</th> <th>Ср 28</th>
			<th>Ср 29</th> <th>Ср 30</th> <th>Ср 31</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>1</th>
			<td><a title="Редагувати" href="#">Подоба Вiталiй</a></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" checked="checked" value=""></td>
			<td><input type="checkbox" checked="checked" value=""></td>
			<td><input type="checkbox" checked="checked" value=""></td>
			<td><input type="checkbox" checked="checked" value=""></td>
			<td><input type="checkbox" checked="checked" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" checked="checked" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
			<td><input type="checkbox" value=""></td>
		</tr>
	</tbody>
</table>
<!-- End Students Listing -->
{% endblock content %}			
